:root {
    --cor-principal: #FF8C00; /* Laranja da EngNet (ou quase) */
    --cor-fundo: #FFFFFF;
    --cor-texto: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.container-principal {
    /* Define uma largura máxima para o conteúdo e centraliza (ou quase) */
    width: 90%;
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    /* Usando Flexbox para centralizar tudo verticalmente no container */
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    width: 90%;
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    
    text-align: center;
}

h1 {
  margin-bottom: 20px;
}

select {
  padding: 5px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

th {
  background-color: #f0f0f0;
}

